/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Font and icon styles */
@import '@fontsource/roboto-flex';
@import '@fontsource/roboto-condensed';
@import '@fortawesome/fontawesome-svg-core/styles';
@import './fonts/luckiest-guy.css';


/* Override flex-row and flex-col to also change the display type so we don't have to specify this manually every time */
@layer base {
  .flex-row, .flex-col {
    @apply flex;
  }

	/* Make sure that this style takes precedence */
	.flex-row.hidden, .flex-col.hidden {
		display: none;
	}
}


/* Apply btn class automatically to all button variants and change the default font */
/* We add these styles to the base layer so that component styles can override them as necessary */
@layer base {
	.btn-primary, .btn-secondary, .btn-accent, .btn-ghost {
		@apply btn;
		@apply text-base;
		@apply font-button;
	}
}


@layer components {
	/* Override the default font size for footer components */
	.footer {
		@apply text-base;
	}

	/* Override disabled button styles since DaisyUI insists on making disabled buttons gray */
	.btn-primary[disabled], .btn-secondary[disabled], .btn-accent[disabled] {
		@apply opacity-40;
		@apply cursor-default;
	}

	.btn-primary[disabled] {
		@apply bg-primary;
		@apply text-primary-content;
	}

	.btn-secondary[disabled] {
		@apply bg-secondary;
		@apply text-secondary-content;
	}

	.btn-accent[disabled] {
		@apply bg-accent;
		@apply text-accent-content;
	}

	/* Styles for custom scrollbar */
	body {
		overflow: overlay;
	}

	*::-webkit-scrollbar {
		@apply w-4;
	}

	*::-webkit-scrollbar-thumb {
		@apply rounded-full;
		/* Use transparent border as margin/padding is not supported for scrollbar components */
		border: .25em transparent solid;
		/* Set background color using box-shadow because background doesn't work with above hack */
		box-shadow: inset 0 -1px 1px #000000aa, inset 0 0 99px #ffffff22;
	}
}
