/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Font and icon styles */
@import '@fortawesome/fontawesome-svg-core/styles';
@import './fonts/luckiest-guy.css';


/* Override flex-row and flex-col to also change the display type so we don't have to specify this manually every time */
@layer base {
  .flex-row, .flex-col {
    @apply flex;
  }
}


/* Override disabled button styles since DaisyUI insists on making disabled buttons gray */
.btn[disabled] {
	opacity: 0.4;
}

.btn-primary[disabled] {
	border-color: hsl(var(--p));
	background-color: hsl(var(--p));
	color: hsl(var(--pc));
}

.btn-secondary[disabled] {
	border-color: hsl(var(--s));
	background-color: hsl(var(--s));
	color: hsl(var(--sc));
}

.btn-accent[disabled] {
	border-color: hsl(var(--a));
	background-color: hsl(var(--a));
	color: hsl(var(--ac));
}
